{{ define "title" }}
    <h4 class="what-is-it" style="font-weight: bold; margin-bottom: unset;">
        Github Apps</br>
        All related useful apps in one place  
    </h4>
{{ end }}
{{ define "content-naked" }}
{{ end }}
{{ define "content" }}

<div class="ui very padded segment">
    <p style="font-size:17px; margin-top:0;">
    <b>Github profile</b></p><p>
    
    <a href="https://ghuser.io/" target="_blank"><b>ghuser.io</b></a></br>
    An alternative Github profile</br></br>
      
    <a href="http://git-awards.com" target="_blank"><b>git-awards.com</b></a></br>
    github user ranking (does not handle organizations and thus not accurate)</br></br>

    <a href="https://gitmemory.com" target="_blank"><b>gitmemory.com</b></a></br>
    Github alternative profile  (not accurate)</br>




    </br></br><p style="font-size:17px; margin-top:0;">
    <b>Manage notifications</b></p><p>
    
    <a href="https://github.com/octobox/octobox" target="_blank"><b>octobox</b></a></br>
    Untangle your GitHub Notification</br>



    
	</br></br><p style="font-size:17px">
    <b>Firefox addons</b></p>
    
    <a href="https://github.com/freaktechnik/advanced-github-notifier" target="_blank"><b>advanced-github-notifier</b></a></br>
    GitHub notifications</br></br>

    <a href="https://github.com/pomber/git-history" target="_blank"><b>git-history</b></a></br>
    GitHub repo file history</br>




    </br></br><p style="font-size:17px">
    <b>Chrome extensions</b></p>

    <a href="https://chrome.google.com/webstore/detail/notifier-for-github/lmjdlojahmbbcodnpecnjnmlddbkjhnn" target="_blank"><b>notifier-for-github</b></a></br>
    GitHub notifications</br></br>

    <a href="https://github.com/tanmayrajani/notifications-preview-github" target="_blank"><b>notifications-preview-githubb</b></a></br>
    GitHub notifications preview and count</br></br>
    
    <a href="https://github.com/onlylemi/github-downloader" target="_blank"><b>github-downloader</b></a></br>
    GitHub download icons</br></br>

    <a href="https://github.com/pomber/git-history" target="_blank"><b>git-history</b></a></br>
    GitHub repo file history</br>




    </br></br><p style="font-size:17px">
    <b>Starred repos</b></p>

    <a href="https://app.astralapp.com" target="_blank"><b>astral</b></a></br>
    Organize your Github starred repos with ease</br>




	</br></br><p style="font-size:17px">
    <b>Changes reports</b></p>
    
    <a href="https://github.com/apps/weekly-digest/" target="_blank"><b>weekly-digest</b></a></br>
    GitHub weekly report over issue auto creation</br>




	</br></br><p style="font-size:17px">
    <b>GitHub raw</b></p>
    
    <a href="https://raw.githack.com/" target="_blank"><b>raw-githack</b></a></br>
    Get raw files from various repos</br>
    



	</br></br><p style="font-size:17px">
    <b>GitHub traffic</b></p>
    
    <a href="https://github-traffic-viewer.netlify.com/" target="_blank"><b>github-traffic</b></a></br>
    GitHub repo traffic (does not show referrers)</br></br>

    <a href="https://github.com/igrigorik/ga-beacon" target="_blank"><b>ga-beacon</b></a></br>
    How to integrate Google Analytics to Github</br>




	</br></br><p style="font-size:17px">
    <b>GitHub archive</b></p>
    
    <a href="http://gharchive.org/" target="_blank"><b>gharchive.org</b></a></br>
    GitHub archive of public statistics</br>




   	</br></br><p style="font-size:17px">
    <b>Github CDN</b></p>

    <a href="https://www.jsdelivr.com/" target="_blank"><b>jsdelivr</b></a></br>
    Delivering raw files from Github (CDN)</br>



    
   	</br></br><p style="font-size:17px">
    <b>Stars history</b></p>

    <a href="https://stars.przemeknowak.com/" target="_blank"><b>github-stars-history</b></a></br>
    Alternative stars history engine</br>
    compare stars history for multiple repos can be done on the <a href="/startrack">stars stats</a> section</br></br>
    
    <a href="https://star-history.t9t.io/" target="_blank"><b>star-history</b></a></br>
    Alternative stars history engine</br>
    compare stars history for multiple repos, can be done on the <a href="/startrack">stars stats</a> section</br></br>

    <a href="https://pingao777.github.io/github-gazer/?q=pingao777/markdown-preview-sync" target="_blank"><b>github-gazer</b></a></br>
    Alternative stars history engine (does not have multi repos graph feature)</br>
    can be done on the <a href="/startrack">stars stats</a> section</br></br>
  </p>
</div>

<div class="ui very padded segment">
	<script src="static/resources/images/ads.js"></script>
	<script>
        if( window.canRunAds === undefined ){
        // adblocker detected, show fallback
        document.write('<div align="center" style="background-image: url(static/resources/images/image.png);');
        document.write('background-repeat:no-repeat; background-position:center;height:60px;"></div>');}
	</script>
	<div align="center">
        <script type="text/javascript">
	        google_ad_client = "ca-pub-4643883406855060";
	        google_ad_slot = "6799285178";
	        google_ad_width = 468;
	        google_ad_height = 60;
        </script>
        <!-- Starhub main -->
        <script type="text/javascript"
        	src="//pagead2.googlesyndication.com/pagead/show_ads.js">
        </script>
	</div>
</div>

<div class="ui very padded segment">
  <p>
    If you know an other app, that would fit this list, please <a href="https://github.com/Github-Web-Apps/Starhub/issues/new" target="_blank">open an issue</a>
    to suggestions it.
  </p>
</div>

{{ end }}
