{{ define "title" }}
    <h4 class="what-is-it" style="font-weight: bold; margin-bottom: unset;">
        Github Apps</br>
        All related useful apps in one place  
    </h4>
{{ end }}
{{ define "content-naked" }}
{{ end }}
{{ define "content" }}

<div class="ui very padded vertical stripe segment">
<div class="ui text container">

<h3 id="privacy" class="ui header">
  Starhub Selection
</h3>
<div class="ui very padded segment">
    <p style="font-size:17px; margin-top:0;">
    <b>Github Profile</b></p><p>
    
    <a href="https://ghuser.io/" target="_blank"><b>Ghuser.io</b></a>
    <i style="padding-left:5px"></i>
    <i class="star blue small icon"></i>
    <i class="star blue small icon"></i>
    <i class="star blue small icon"></i>
    <i class="star grey small icon"></i></br>
    An alternative Github profile</br>


    

    </br></br><p style="font-size:17px; margin-top:0;">
    <b>Manage Notifications</b></p><p>
    
    <a href="https://octobox.io/" target="_blank"><b>Octobox</b></a>
    <i style="padding-left:5px"></i>
    <i class="star blue small icon"></i>
    <i class="star blue small icon"></i>
    <i class="star blue small icon"></i>
    <i class="star grey small icon"></i></br>
    Manage,filter and order your GitHub Notification</br>



    
    </br></br><p style="font-size:17px">
    <b>Starred Repos</b></p>

    <a href="https://app.astralapp.com" target="_blank"><b>Astral</b></a>
    <i style="padding-left:5px"></i>
	<i class="star blue small icon"></i>
    <i class="star blue small icon"></i>
    <i class="star blue small icon"></i>
    <i class="star blue small icon"></i></br>
    Organize your Github starred repos with ease</br>
    



	</br></br><p style="font-size:17px">
    <b>GitHub Traffic</b></p>

    <a href="https://github.com/igrigorik/ga-beacon" target="_blank"><b>Ga-Beacon</b></a>
    <i style="padding-left:5px"></i>
	<i class="star blue small icon"></i>
    <i class="star blue small icon"></i>
    <i class="star blue small icon"></i>
    <i class="star blue small icon"></i></br>
    How to integrate Google Analytics to Github</br></br>



    <a href="https://madnight.github.io/githut" target="_blank"><b>Githut</b></a>
    <i style="padding-left:5px"></i>
	<i class="star blue small icon"></i>
    <i class="star blue small icon"></i>
    <i class="star blue small icon"></i>
    <i class="star blue small icon"></i></br>
    Github main site language statistics</br>

</div>

<h3 id="privacy" class="ui header">
  Browser Addons
</h3>
<div class="ui very padded segment">
	<p style="font-size:17px; margin-top:0;">
    <b>Firefox Addons</b></p>

    <a href="https://github.com/freaktechnik/advanced-github-notifier" target="_blank"><b>Advanced-Github-Notifier</b></a>
    <i style="padding-left:5px"></i>
    <i class="star blue small icon"></i>
    <i class="star blue small icon"></i>
    <i class="star blue small icon"></i>
    <i class="star blue small icon"></i></br>
    GitHub notifications</br></br>

    <a href="https://github.com/pomber/git-history" target="_blank"><b>Git-History</b></a>
    <i style="padding-left:5px"></i>
	<i class="star blue small icon"></i>
    <i class="star blue small icon"></i>
    <i class="star blue small icon"></i>
    <i class="star blue small icon"></i></br>
    GitHub repo file history</br><br>

    <a href="https://github.com/Mottie/GitHub-userscripts" target="_blank"><b>Github-Userscript</b></a>
    <i style="padding-left:5px"></i>
	<i class="star blue small icon"></i>
    <i class="star blue small icon"></i>
    <i class="star blue small icon"></i>
    <i class="star half blue small icon"></i></br>
    Different GitHub user scripts for various modifications (repos/followers/files/etc)</br>




	</br></br><p style="font-size:17px">
    <b>Chrome Extensions</b></p>

    <a href="https://chrome.google.com/webstore/detail/notifier-for-github/lmjdlojahmbbcodnpecnjnmlddbkjhnn" target="_blank"><b>Notifier-For-Github</b></a>
    <i style="padding-left:5px"></i>
	<i class="star blue small icon"></i>
    <i class="star blue small icon"></i>
    <i class="star blue small icon"></i>
    <i class="star grey small icon"></i></br>
    GitHub notifications</br></br>

    <a href="https://github.com/muan/github-dashboard" target="_blank"><b>Github-Dashboard-Filter</b></a>
    <i style="padding-left:5px"></i>
	<i class="star blue small icon"></i>
    <i class="star blue small icon"></i>
    <i class="star blue small icon"></i>
    <i class="star blue small icon"></i></br>
    Filter GitHub dashboard elements</br></br>

    <a href="https://github.com/tanmayrajani/notifications-preview-github" target="_blank"><b>Notifications-Preview-Githubb</b></a>
    <i style="padding-left:5px"></i>
	<i class="star blue small icon"></i>
    <i class="star blue small icon"></i>
    <i class="star blue small icon"></i>
    <i class="star grey small icon"></i></br>
    GitHub notifications preview and count</br></br>
    
    <a href="https://github.com/onlylemi/github-downloader" target="_blank"><b>Github-Downloader</b></a>
	<i style="padding-left:5px"></i>
	<i class="star blue small icon"></i>
    <i class="star blue small icon"></i>
    <i class="star blue small icon"></i>
    <i class="star blue small icon"></i></br>
    GitHub download icons</br></br>

    <a href="https://github.com/pomber/git-history" target="_blank"><b>Git-History</b></a>
    <i style="padding-left:5px"></i>
	<i class="star blue small icon"></i>
    <i class="star blue small icon"></i>
    <i class="star blue small icon"></i>
    <i class="star blue small icon"></i></br>
    GitHub repo file history</br></br>

    <a href="https://github.com/Mottie/GitHub-userscripts" target="_blank"><b>Github-Userscript</b></a>
    <i style="padding-left:5px"></i>
	<i class="star blue small icon"></i>
    <i class="star blue small icon"></i>
    <i class="star blue small icon"></i>
    <i class="star half blue small icon"></i></br>
    Different GitHub user script for various modifications (repos/followers/files/etc)</br>

  	</p>
</div>

<div class="ui very padded segment">
	<script src="static/resources/images/ads.js"></script>
	<script>
        if( window.canRunAds === undefined ){
        // adblocker detected, show fallback
        document.write('<div align="center" style="background-image: url(static/resources/images/image.png);');
        document.write('background-repeat:no-repeat; background-position:center;height:60px;"></div>');}
	</script>
	<div align="center">
        <script type="text/javascript">
	        google_ad_client = "ca-pub-4643883406855060";
	        google_ad_slot = "6799285178";
	        google_ad_width = 468;
	        google_ad_height = 60;
        </script>
        <!-- Starhub main -->
        <script type="text/javascript"
        	src="//pagead2.googlesyndication.com/pagead/show_ads.js">
        </script>
	</div>
</div>

<h3 id="privacy" class="ui header">
  Additional Apps
</h3>
<div class="ui very padded segment">

	<p style="font-size:17px; margin-top:0;">
    <b>Changes Reports</b></p>
    
    <a href="https://github.com/apps/weekly-digest/" target="_blank"><b>Weekly-Digest</b></a>
    <i style="padding-left:5px"></i>
	<i class="star blue small icon"></i>
    <i class="star blue small icon"></i>
    <i class="star blue small icon"></i>
    <i class="star grey small icon"></i></br>
    GitHub weekly report over issue auto creation</br>




   	</br></br><p style="font-size:17px">
    <b>Github CDN</b></p>

    <a href="https://www.jsdelivr.com/" target="_blank"><b>Jsdelivr</b></a>
    <i style="padding-left:5px"></i>
	<i class="star blue small icon"></i>
    <i class="star blue small icon"></i>
    <i class="star blue small icon"></i>
    <i class="star blue small icon"></i></br>
    Delivering raw files from Github (CDN)</br>


    

	</br></br><p style="font-size:17px">
    <b>GitHub Archive</b></p>
    
    <a href="http://gharchive.org/" target="_blank"><b>Gharchive.org</b></a>
    <i style="padding-left:5px"></i>
	<i class="star blue small icon"></i>
    <i class="star blue small icon"></i>
    <i class="star blue small icon"></i>
    <i class="star grey small icon"></i></br>
    GitHub archive of public statistics</br>




	</br></br><p style="font-size:17px">
    <b>GitHub Raw</b></p>
    
    <a href="https://raw.githack.com/" target="_blank"><b>Raw-Githack</b></a>
    <i style="padding-left:5px"></i>
	<i class="star blue small icon"></i>
    <i class="star blue small icon"></i>
    <i class="star blue small icon"></i>
    <i class="star grey small icon"></i></br>
    Get raw files from various repos</br>

    


    </br></br><p style="font-size:17px;">
    <b>Github Profile</b></p><p>

    <a href="https://gp.fedepot.com" target="_blank"><b>Fedepot Github-Profile</b></a>
    <i style="padding-left:5px"></i>
	<i class="star blue small icon"></i>
    <i class="star blue small icon"></i>
    <i class="star grey small icon"></i>
    <i class="star grey small icon"></i></br>
    Github alternative profile (does not handle organizations and thus not accurate)</br></br>

    <a href="https://profile-summary-for-github.com/" target="_blank"><b>Tipsy Profile-Summary-For-Github</b></a>
    <i style="padding-left:5px"></i>
	<i class="star blue small icon"></i>
    <i class="star blue small icon"></i>
    <i class="star grey small icon"></i>
    <i class="star grey small icon"></i></br>
    Github alternative profile (does not handle organizations and thus not accurate)</br></br>
      
    <a href="http://git-awards.com" target="_blank"><b>Git-Awards.com</b></a>
    <i style="padding-left:5px"></i>
	<i class="star blue small icon"></i>
    <i class="star blue small icon"></i>
    <i class="star grey small icon"></i>
    <i class="star grey small icon"></i></br>
    github user ranking (does not handle organizations and thus not accurate)</br></br>

    <a href="https://gitmemory.com" target="_blank"><b>Gitmemory.com</b></a>
    <i style="padding-left:5px"></i>
	<i class="star blue small icon"></i>
    <i class="star blue small icon"></i>
    <i class="star grey small icon"></i>
    <i class="star grey small icon"></i></br>
    Github alternative profile (not accurate)</br>


    

	</br></br><p style="font-size:17px">
    <b>GitHub Activity</b></p>
    
    <a href="https://razat249.github.io/github-view/" target="_blank"><b>Github-View</b></a>
    <i style="padding-left:5px"></i>
	<i class="star blue small icon"></i>
    <i class="star blue small icon"></i>
    <i class="star blue small icon"></i>
    <i class="star grey small icon"></i></br>
    GitHub repo and profile public activity (does not handle all events, and does not show icons)</br></br>

    <a href="https://github.com/smuyyh/GitHubWidgets/" target="_blank"><b>Github-Widgets</b></a>
    <i style="padding-left:5px"></i>
	<i class="star blue small icon"></i>
    <i class="star blue small icon"></i>
    <i class="star blue small icon"></i>
    <i class="star grey small icon"></i></br>
    GitHub repo and profile javascript widgets</br></br>

    <a href="http://ionicabizau.github.io/github-profile-languages/" target="_blank"><b>Github-Profile-Languages</b></a>
    <i style="padding-left:5px"></i>
	<i class="star blue small icon"></i>
    <i class="star blue small icon"></i>
    <i class="star grey small icon"></i>
    <i class="star grey small icon"></i></br>
    GitHub repo and profile programming languages pie chart (not accurate and does not handle organizations)</br>



	</br></br><p style="font-size:17px">
    <b>GitHub Traffic</b></p>
    
    <a href="https://github-traffic-viewer.netlify.com/" target="_blank"><b>Github-Traffic</b></a>
    <i style="padding-left:5px"></i>
	<i class="star blue small icon"></i>
    <i class="star blue small icon"></i>
    <i class="star grey small icon"></i>
    <i class="star grey small icon"></i></br>
    GitHub repo traffic (does not show referrers)</br></br>

</div>

<div class="ui very padded segment">
  <p>
    If you know an other app, that would fit this list, please <a href="https://github.com/Github-Web-Apps/Starhub/issues/new" target="_blank">open an issue</a>
    to suggestions it.
  </p>
</div>

</div>
</div>

{{ end }}
