{{ define "title" }}
	<h4 class="what-is-it" style="font-weight: bold; margin-bottom: unset;">
		All about your Github account, public and private activity, stars, followers and much more
	</h4>
{{ end }}
{{ define "content-naked" }}
{{ end }}
{{ define "content" }}

<div class="ui very padded vertical stripe segment">
<div class="ui text container">

<h3 class="ui header">
  Developer(s)
</h3>
<div class="ui very padded segment">
  <p>
	Starhub, is an open source project based on many other applications, it is meant to be a central location for Github's users that wants to get some extra features about their accounts, being a community project any contribution is more than welcome</br></br> 
	This application is developed by: </br></br>
	<i class="github icon"></i><a class="ui" href="https://github.com/intika" target="_blank">intika@github</a></br> 
	<i class="github icon"></i><a href="https://starhub.be/">https://starhub.be/</a></br>
	<i class="mail icon"></i>intika@librefox.org</br>
  </p>
</div>

<h3 class="ui header">
  Contact
</h3>
<div class="ui very padded segment">
  <p>
    You can <a href="https://github.com/Github-Web-Apps/Starhub/issues/new">open an issue</a>
    anytime you have questions, suggestions, feature requests or anything else :)
  </p>
</div>

<h3 class="ui header">
  About
</h3>
<div class="ui very padded segment">
	<p>
	This project is based on: 
	</br>
	</br>
	- Watchub by <a class="ui" href="https://github.com/caarlos0" target="_blank">@caarlos0</a></br>
	- Startrack by <a class="ui" href="https://github.com/seladb" target="_blank">@seladb</a></br>
	- Cookie-Notice by <a class="ui" href="https://github.com/AOEpeople" target="_blank">@AOEpeople</a></br>
	- HTML-Preview by <a class="ui" href="https://github.com/niutech" target="_blank">@niutech</a></br>
	- Profile-Summary by <a class="ui" href="https://github.com/tipsy" target="_blank">@tipsy</a></br>
	- Down-Git by <a class="ui" href="https://github.com/MinhasKamal" target="_blank">@MinhasKamal</a></br>
	- Github-ID by <a class="ui" href="https://github.com/caius" target="_blank">@caius</a></br>
	- Github-ID by <a class="ui" href="https://github.com/pingao777" target="_blank">@pingao777</a></br>
	- Github-Corners by <a class="ui" href="https://github.com/tholman" target="_blank">@tholman</a></br>
	- Github-Gazer by <a class="ui" href="https://github.com/pingao777" target="_blank">@pingao777</a></br>
	- Github-Stats by <a class="ui" href="https://github.com/byliuyang" target="_blank">@byliuyang</a></br>
	- Github-Profile by <a class="ui" href="https://github.com/thundernet8" target="_blank">@thundernet8</a></br>
	- Github-View by <a class="ui" href="https://github.com/razat249" target="_blank">@razat249</a></br>
	- Github-Widget by <a class="ui" href="https://github.com/smuyyh" target="_blank">@smuyyh</a></br>
	- Github-Release-Stats by <a class="ui" href="https://github.com/Somsubhra" target="_blank">@Somsubhra</a></br>
	- Github-Activity by <a class="ui" href="https://github.com/caseyscarborough" target="_blank">@caseyscarborough</a></br>
	- A stackoverflow <a class="ui" href="https://stackoverflow.com/questions/12686545/how-to-leave-a-message-for-a-github-com-user" target="_blank">question</a></br>
	</p>
</div>

<h3 class="ui header">
  Fork It
</h3>
<div class="ui very padded segment">
		<p><strong>Cloning</strong></p>
		<p>Clone the projects</p>
		<i>git clone git@github.com:Github-Web-Apps/Starhub.git</i></br>
		<i>cd Starhub</i>
		</br>
		</br>
		<p><strong>Dependencies</strong></p>
		<p>Install Go 1.11+ and run the following command to install the needed packages </p>
		<i>make setup</i></br></br>
		<p><strong>Building</strong></p>
		<p>Build command:</p>
		<i>make build</i></br></br>
		<p><strong>Database Setup</strong></p>
		<p>Install and start postgres service then run:</p>
		<i>createdb watchub</i></br>
		<i>forsql in ./migrations/*; do psql watchub -f $sql; done</i></br></br>
		<p><strong>Tunnel With Ngrok</strong></p>
		<p>To test the entire flow, you’ll need to install ngrok, after the installation run:</p>
		<i>ngrok http 3000</i></br></br>
		<p><strong>Register With Github</strong></p>
		<p>On <a href="https://github.com/settings/applications/new">github</a>, fill the form with the following informations:</p>
		<ol>
			<li>Application name: starhub-dev-username</li>
			<li>Application description: empty (not required)</li>
			<li>Authorization callback URL: http://your-ngrok-url/login/callback<br></li>
			<li>Homepage url: the ngrok http forwarding url, e.g. https://6f7ca783.ngrok.io</li>
		</ol>
		<p><strong>Export Settings:</strong></p>
		<i>export GITHUB_CLIENT_ID="Client-ID"</i></br>
		<i>export GITHUB_CLIENT_SECRET="Client-Secret"</i></br></br>
		<p><strong>Run It:</strong></p>
		<i>go run main.go</i></br>
	</br>
</div>

<h3 id="privacy" class="ui header">
  Privacy Policy
</h3>
<div class="ui very padded segment">
  <p>
    <b>We use cookies and datas collection to ensure that you have the best experience on our website.</b></br>
    <b>None of the collected datas from Github are disclosed to third party.</b>
    
	</br></br><b>
    Cookies are used to:</br></b></br>
    
	- Identify logged user</br>
	- Save cookies notice banner choice</br>
	- Display advertisement by <a class="ui" href="http://www.google.com/policies/privacy/partners/" target="_blank">third party</a></br>
	
    </br><b>
    This website collect datas to:</br></b></br>
    
    - Deliver its main service (notifications about Github activity)</br>
    - Know its audience to deliver a better service</br>
    - Display advertisement by third party</br>
    
    </br><b>
    Third party:</br></b></br>
    
    Third party vendors (Google), use cookies to serve ads based on user's prior visits to this website or other websites.</br></br>
    
    Google's use of advertising cookies enables it and its partners to serve ads to this site based on the users visit and/or other sites on the Internet.</br></br>
    
    Users may opt out of personalized advertising by visiting <a class="ui" href="https://www.google.com/settings/ads" target="_blank">Ads Settings.</a> (Alternatively, user can opt out of a third-party vendor's use of cookies for personalized advertising by visiting www.aboutads.info.)</br></br>
    
    Starhub uses <a class="ui" href="http://www.google.com/policies/privacy/partners/" target="_blank">Google</a> Ad program for serving ads on this site.</br>

  </p>
</div>

<div class="ui very padded segment">
	<script src="static/resources/images/ads.js"></script>
	<script>
		if( window.canRunAds === undefined ){
		// adblocker detected, show fallback
		document.write('<div align="center" style="background-image: url(static/resources/images/image.png);');
		document.write('background-repeat:no-repeat; background-position:center;height:60px;"></div>');}
	</script>
	<div align="center">
		<script type="text/javascript">
			google_ad_client = "ca-pub-4643883406855060";
			google_ad_slot = "6799285178";
			google_ad_width = 468;
			google_ad_height = 60;
		</script>
		<!-- Starhub main -->
		<script type="text/javascript"
			src="//pagead2.googlesyndication.com/pagead/show_ads.js">
		</script>
	</div>
</div>

</div>
</div>

{{ end }}
