{{ define "content-naked" }}
{{ end }}
{{ define "content" }}

<h3 class="ui header">
  Contact
</h3>
<div class="ui very padded segment">
  <p>
    You can <a href="https://github.com/Intika-Web-Apps/Starhub-Notifier/issues/new">open an issue</a>
    anytime you have questions, suggestions, feature requests or anything else :)
  </p>
</div>

<h3 class="ui header">
  Links
</h3>
<div class="ui very padded segment">
  <p>
    You can access this site with 3 differents urls
    </br></br>
    Main: <a href="https://starhub.mywire.org/">https://starhub.mywire.org/</a></br>
    Mirror: <a href="https://starhub-notifier.duckdns.org">https://starhub-notifier.duckdns.org</a></br>
    Mirror: <a href="https://watchub.duckdns.org">https://watchub.duckdns.org</a></br>
    Mirror: <a href="https://gitstat.duckdns.org">https://gitstat.duckdns.org</a> (inactive)</br>
  </p>
</div>

<h3 class="ui header">
  About
</h3>
<div class="ui very padded segment">
	<p>
	This project is based on: 
	</br>
	</br>
	- Watchub by <a class="ui" href="https://github.com/caarlos0" target="_blank">@caarlos0</a></br>
	- Github-Release-Stats by <a class="ui" href="https://github.com/Somsubhra" target="_blank">@Somsubhra</a></br>
	- Startrack by <a class="ui" href="https://github.com/seladb" target="_blank">@seladb</a></br>
	- Github-ID by <a class="ui" href="https://github.com/caius" target="_blank">@caius</a></br>
	- Github-Corners by <a class="ui" href="https://github.com/tholman" target="_blank">@tholman</a></br>
	- Cookie-Notice by <a class="ui" href="https://github.com/AOEpeople" target="_blank">@AOEpeople</a></br>
	- A stackoverflow <a class="ui" href="https://stackoverflow.com/questions/12686545/how-to-leave-a-message-for-a-github-com-user" target="_blank">question</a></br>
	</p>
</div>

<h3 class="ui header">
  Privacy
</h3>
<div class="ui very padded segment">
  <p>
    <b>We use cookies and datas collection to ensure that you have the best experience on our website.</b></br>
    <b>The Github's collected datas are not disclosed to any third party.</b>
    
	</br></br><b>
    Cookies are used to:</br></b></br>
    
	- Identify logged user</br>
	- Save cookies notice banner choice</br>
	- Display advertisement by <a class="ui" href="http://www.google.com/policies/privacy/partners/" target="_blank">third party</a></br>
	
    </br><b>
    This website collect datas to:</br></b></br>
    
    - Deliver its main service (notifications about Github activity)</br>
    - Know its audience to deliver a better service</br>
    - Display advertisement by third party</br>
    
    </br><b>
    Third party:</br></b></br>
    
    Third party vendors (Google), use cookies to serve ads based on user's prior visits to this website or other websites.</br></br>
    
    Google's use of advertising cookies enables it and its partners to serve ads to this site based on the users visit and/or other sites on the Internet.</br></br>
    
    Users may opt out of personalized advertising by visiting <a class="ui" href="https://www.google.com/settings/ads" target="_blank">Ads Settings.</a> (Alternatively, user can opt out of a third-party vendor's use of cookies for personalized advertising by visiting www.aboutads.info.)</br></br>
    
    Starhub uses <a class="ui" href="http://www.google.com/policies/privacy/partners/" target="_blank">Google</a> Ad program for serving ads on this site.</br>

  </p>
</div>

{{ end }}
