{{ define "content-naked" }}
{{ end }}
{{ define "content" }}

<h3 class="ui header">
  Contact
</h3>
<div class="ui very padded segment">
  <p>
    You can <a href="https://github.com/Intika-Web-Apps/Starhub-Notifier/issues/new">open an issue</a>
    anytime you have questions, suggestions, feature requests or anything else :)
  </p>
</div>

<h3 class="ui header">
  About
</h3>
<div class="ui very padded segment">
	<p>
	This project is based on: 
	</br>
	</br>
	- Watchub by <a class="ui" href="https://github.com/caarlos0" target="_blank">@caarlos0</a></br>
	- Github-Release-Stats by <a class="ui" href="https://github.com/Somsubhra" target="_blank">@Somsubhra</a></br>
	- Startrack by <a class="ui" href="https://github.com/seladb" target="_blank">@seladb</a></br>
	- A stackoverflow <a class="ui" href="https://stackoverflow.com/questions/12686545/how-to-leave-a-message-for-a-github-com-user" target="_blank">question</a></br>
	- Github-ID by <a class="ui" href="https://github.com/caius" target="_blank">@caius</a></br>
	</p>
</div>

<h3 class="ui header">
  Links
</h3>
<div class="ui very padded segment">
  <p>
    You can access this site with 3 differents urls
    </br></br>
    Main: <a href="https://starhub.mywire.org/">https://starhub.mywire.org/</a></br>
    Mirror: <a href="https://starhub-notifier.duckdns.org">https://starhub-notifier.duckdns.org</a></br>
    Mirror: <a href="https://watchub.duckdns.org">https://watchub.duckdns.org</a></br>
    Mirror: <a href="https://gitstat.duckdns.org">https://gitstat.duckdns.org</a> (inactive)</br>
  </p>
</div>

{{ end }}
