{{ define "title" }}
    <h4 class="what-is-it" style="font-weight: bold; margin-bottom: unset;">
		All about your Github account, public and private activity, stars, followers and much more
    </h4>
{{ end }}
{{ define "content-naked" }}
{{ end }}
{{ define "content" }}

<div class="ui very padded vertical stripe segment">
<div class="ui text container">

<h3 class="ui header">
  Thanks for using Starhub and thanks for being interested in donating!
    <div class="sub header">
    <br/>
    <b>This would be very helpful</b>, the amount is up to you :)
    <br/>
    You can add a note in the donation if you want to be listed anonymously.
    </div>
</h3>
<div class="ui very padded segment">
  <p>
    <a class="ui basic positive button fluid" 
href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=support@librefox.org&lc=US&item_name=Donation+to+starhub&currency_code=USD" 
target="_blank">
      <i class="paypal icon"></i>Paypal
    </a>
  </p>
</div>

<h3 class="ui header">
  Donators
</h3>
<div class="ui very padded segment">
  <p><b>Monthly: (total 0,00 €)</b></p>
  
  - Amount: 0,00 - User: anonymous</br>
  - Amount: 0,00 - User: intika (time and dev)</br>

  </br>  
  <p><b>One-time: (total 0,00 €)</b></p>
  
  - Amount: 0,00 - User: anonymous</br>
  - Amount: 0,00 - User: intika (time and dev)</br>

  <br/>
  You may want to consider other donations to the upstream projects on which starhub is based
</div>

<h3 class="ui header">
  Running costs
</h3>
<div class="ui very padded segment">
  <p><b>Monthly: (total 24,45 €)</b></p>
  
  - Server, backups and traffic: 24,45</br>
  - Cloudflare CDN: 0,00</br>
  - Mail server: 0.00</br>

  </br>
  <p><b>Yearly: (total 6,00 €)</b></p>
  
  - Domain: 6,00 - starhub.be</br>

  </br>
  <p><b>Development:</p></b>

  - Development and maintenance over time</br>

</div>

<h3 class="ui header">
  Advertisement income
</h3>
<div class="ui very padded segment">
  <p><b>Months:</b></p>
 
  - 01/2019: 0,00 € (0 Clicks)</br>
  - 02/2019: 0.00 € (0 Clicks)</br>
  - 03/2019: 0.05 € (0 Clicks)</br>

  </br>
  <p><b>Note:</b> ads may be removed from the site if it's not worth it over time.</p>

</div>

<h3 class="ui header">
  Insights
</h3>
<div class="ui very padded segment">
  <p><b>Project stars:</b><a href="https://github.com/Github-Web-Apps/Starhub" target="_blank"> 
  15
  </a><i class="star blue small icon"></i></br></p>
  <p><b>Visits (02/19):</b> 323</br></p>
  <p><b>Visits (03/19):</b> 1052</br></p>
  <p><b>Active registered users:</b> 65</br></p>

</div>

<h3 class="ui header">
  Update
</h3>
<div class="ui very padded segment">
  <p><b>This page have been update on:</b></br>05/04/2019</p>

</div>

</div>
</div>
{{ end }}
