{{ define "startrack" }}
{{ end }}
{{ define "content" }}
<h3 class="ui header">
  Thanks for using Starhub Notifier and thanks for being interested in donating!
    <div class="sub header"><b>This would be very helpful for the server fees</b>, the amount is up to you :) also you may want to consider an other donation to the <a href="https://watchub.pw" targer="_blank">original</a> project:
    </div>
</h3>
<div class="ui very padded segment">
  <p>
    <a class="ui basic positive button fluid" 
href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=support@librefox.org&lc=US&item_name=Donation+to+starhub+notifier&currency_code=USD" 
target="_blank">
      <i class="paypal icon"></i>Paypal
    </a>
  </p>
</div>
{{ end }}
