{{ define "title" }}
    <h4 class="what-is-it" style="font-weight: bold; margin-bottom: unset;">
		Watch and notify who followed/unfollowed you and starred/unstarred your github repositories
    </h4>
{{ end }}
{{ define "content-naked" }}
{{ end }}
{{ define "content" }}
<h3 class="ui header">
  Thanks for using Starhub and thanks for being interested in donating!
    <div class="sub header">
    <br/>
    <b>This would be very helpful for the server fees</b>, the amount is up to you :) 
    <br/>
    Also you may want to consider other donations to the upstream projects on which starhub is based
    </div>
</h3>
<div class="ui very padded segment">
  <p>
    <a class="ui basic positive button fluid" 
href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=support@librefox.org&lc=US&item_name=Donation+to+starhub&currency_code=USD" 
target="_blank">
      <i class="paypal icon"></i>Paypal
    </a>
  </p>
</div>
{{ end }}
