{{ define "title" }}
    <h4 class="what-is-it" style="font-weight: bold; margin-bottom: unset;">
        Downloads Statistics</br>
        Get stats like download counts, release dates, authors for any Github project
    </h4>
{{ end }}
{{ define "content" }}
{{ end }}

{{ define "content-naked" }}

<div class="container">

	<script type="text/javascript" src="static/resources/downloads/third-party/jquery/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="static/resources/downloads/third-party/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="static/resources/downloads/third-party/typahead/bootstrap3-typeahead.min.js"></script>
	<script type="text/javascript" src="static/resources/downloads/js/main.js"></script>

    <script>
		//$("h4.what-is-it").text("Get stats like download counts, release dates, authors for any Github project");
    </script>
	    
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Get the latest release stats like download counts, release dates, author on any Github project">
	<meta name="keywords" content="Github, release, download, count">
	<link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="static/resources/downloads/third-party/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/resources/downloads/css/main.css">

	</br>
	
    <div class="container">
        <div class="row" id="search">
            <div class="col-md-4 col-md-offset-4">
                <div class="form form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" id="username" placeholder="Github username">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="repository" placeholder="Repository name">
                    </div>
                    <button class="btn btn-primary" id="get-stats-button">Get the latest release stats!</button>
                </div>
            </div>
        </div>
        <div class="row" id="title">
            <h1><span class="username"></span>/<span class="repository"></span></h1>
            <span class="description">release stats</span>
        </div>
        <div class="row" id="stats-result">
        </div>
        <div id="loader-gif">
            <img src="static/logo/gif-load.gif">
        </div>
    </div>

	<script src="static/resources/images/ads.js"></script>
	<script>
	        if( window.canRunAds === undefined ){
	        // adblocker detected, show fallback
	        document.write('<div align="center" style="background-image: url(static/resources/images/image.png);');
	        document.write('background-repeat:no-repeat; background-position:center;height:60px;"></div>');}
	</script>
	<div align="center">
	        <script type="text/javascript">
	                google_ad_client = "ca-pub-4643883406855060";
	                google_ad_slot = "6799285178";
	                google_ad_width = 468;
	                google_ad_height = 60;
	        </script>
	        <!-- Starhub main -->
	        <script type="text/javascript"
	                src="//pagead2.googlesyndication.com/pagead/show_ads.js">
	        </script>
	</div>


</div>

{{ end }}
