{{ define "title" }}
    <h4 class="what-is-it" style="font-weight: bold; margin-bottom: unset;">
        All about your Github account, public and private activity, stars, followers and much more
        </br>Starhub is currently under dev, additional features are being lended.
    </h4>
{{ end }}
{{ define "content-naked" }}
{{ end }}
{{ define "content" }}
{{ if eq .User.ID 0 }}

	<p align="center">
		<img alt="Starhub Logo" src="https://github.com/Github-Web-Apps/Starhub/raw/master/static/logo/logo-128.png" />
	</p>

	<div class="ui very padded segment">
		<h3 class="ui header">Starhub:</h3>
		<p>
		All about your Github account, public and private activity, stars count, release download count, who followed/unfollowed and starred/unstarred your Github repositories plus daily email notification about changes and much more.</br>

		<h3 class="ui header">Features:</h3>

		- Watch all repos (forked one as well)</br>
		- No github write access required</br>
		- SSL HTTPS - Encrypted Requests</br>
		- Starts analytics over time with a graph</br>
		- Display total stars for all repository</br>
		- Display total public repos</br>
		- Release downloads couter & stats</br>
		- Daily email notifciation <b>(only on changes)</b></br>
		- Notification for new followers</br>
		- Notification for new unfollower</br>
		- Notification for new starred repository</br>
		- Notification for new unstarred repository</br>
		- Tools: user mail finder</br>
		- Tools: username converter</br>
		- Tools: user-id converter</br>
		- And much more...
		</p>

		<h3 class="ui header">Capture:</h3>

		<div align="center">
		    <img src="https://raw.githubusercontent.com/Github-Web-Apps/Starhub/master/screenshot/1.png" width="500px"></img> 
		</div>

	</div>

	<div class="ui very padded segment">
		<div align="center">
			<h3 class="ui header">Login</h3>
			<p>
			In order to continue, you need to authenticate with GitHub.
			</p>
			<a href="/login" class="ui large positive button"><i class="github icon"></i> Login</a>
		</div>
		</br>

		<script src="static/resources/images/ads.js"></script>
		<script>
	      if( window.canRunAds === undefined ){
	        // adblocker detected, show fallback
	        document.write('<div align="center" style="background-image: url(static/resources/images/image.png);');
	        document.write('background-repeat:no-repeat; background-position:center;height:60px;"></div>');}
	    </script>
		<div align="center">
			<script type="text/javascript">
		    google_ad_client = "ca-pub-4643883406855060";
		    google_ad_slot = "6799285178";
		    google_ad_width = 468;
		    google_ad_height = 60;
			</script>
			<!-- Starhub main -->
			<script type="text/javascript"
			src="//pagead2.googlesyndication.com/pagead/show_ads.js">
			</script>
		</div>
	</div>
	
{{ else }}

    {{ if .User.IsNew }}

		<div class="ui very padded segment">
		
			<h2 class="ui header">
				<img src="https://avatars3.githubusercontent.com/u/{{ .User.ID }}?v=3&s=144" class="ui circular image">
				Hello {{ .User.Login}}!
			</h2>
  
			<p>
				<b>We're are all set!</b>
				You should receive a welcome email soon <i class="mail icon"></i></br></br>
				<b>The profile creation process takes 3-10 min to be completed.</b></br></br>
				This will trigger a welcome mail to your <b>main github email address.</b></br></br>
				<b>Changes</b> to your account are checked once a day, you'll only receive an email if there were changes since the last notification email.</br></br>
				Refresh the home page after the profile creation needed delay to see the changes, or wait for the notification/welcome email.</br></br>
				Thank you for using our service, <b>if you like it please consider a <a href="donate">donation</a> to help us with the server fees</b>
			</p>

			<p>
				<a class="ui blue basic small button" href="/">Back</a>
				<a target="blank" class="ui secondary basic small button" href="https://github.com/settings/connections/applications/{{ .ClientID }}">Change settings</a>
			</p>

		</div>

	{{ else }}

		<div class="ui very padded segment">

			<h2 class="ui header">
				<img src="https://avatars3.githubusercontent.com/u/{{ .User.ID }}?v=3&s=144" class="ui circular image">
				Hello {{ .User.Login}}!
			</h2>
    
			<h3>Your profile looks good!</h3>
			
			<div class="ui statistics">
				<div class="statistic">
					<div class="value">{{ .FollowerCount }}
					</div>
					<div class="label">Followers
					</div>
				</div>
				<div class="statistic">
					<div class="value">{{ .RepositoryCount }}
					</div>
					<div class="label">Repositories
					</div>
				</div>
				<div class="statistic">
					<div class="value">{{ .StarCount }}
					</div>
					<div class="label">Stars
					</div>
				</div>
			</div>

			<br>
			
			<a class="ui primary small button" style="margin:1%; width:47.5%;" href="/schedule">Check now
			</a>
			<a class="ui small button"		   style="margin:1%; width:47.5%;" href="https://github.com/settings/connections/applications/{{ .ClientID }}" target="blank">Change settings
			</a>

			<p>
				</br>Thank you for using Starhub, <b>if you like it please consider a <a href="donate">donation</a> to help us with the server fees.</b>
			</p>

		</div>

		<div class="ui very padded segment">

				<a class="ui small button" target="blank" style="margin:1%; width:31%;" href="https://ghuser.io/{{ .User.Login}}" >
					<img src="static/logo/3rd/ghu.png" alt="ghuser.io" height="16" width="16" style="vertical-align:middle">
					Better profile
				</a>
				<a class="ui small button" target="blank" style="margin:1%; width:31%;" href="https://octobox.io/login" >
					<img src="static/logo/3rd/octobox.png" alt="octobox.io" height="16" width="16" style="vertical-align:middle">
					Manage issues
				</a>
				<a class="ui small button" target="blank" style="margin:1%; width:31%;" href="https://app.astralapp.com/auth/github" >
					<img src="static/logo/3rd/astral.png" alt="astralapp.com" height="16" width="16" style="vertical-align:middle">
					Manage starred
				</a>

		</div>

		<script src="static/resources/images/ads.js"></script>
		<div class="ui very padded segment">
			<script>
		      if( window.canRunAds === undefined ){
		        // adblocker detected, show fallback
		        document.write('<div align="center" style="background-image: url(static/resources/images/image.png);');
		        document.write('background-repeat:no-repeat; background-position:center;height:60px;"></div>');}
		    </script>
			<div align="center">
				<script type="text/javascript">
			    google_ad_client = "ca-pub-4643883406855060";
			    google_ad_slot = "6799285178";
			    google_ad_width = 468;
			    google_ad_height = 60;
				</script>
				<!-- Starhub main -->
				<script type="text/javascript"
				src="//pagead2.googlesyndication.com/pagead/show_ads.js">
				</script>
			</div>
		</div>
      
	{{ end }}
	
{{ end }}
{{ end }}
