{{ define "layout" }}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="theme-color" content="#000000">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/static/apple-touch-icon-152x152.png" />
  <link rel="icon" type="image/png" href="/static/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="/static/favicon-16x16.png" sizes="16x16" />
  <title>Watchub</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css">
</head>
<body>
  <div class="ui inverted vertical masthead center aligned segment">
    <div class="ui container">
      <div class="ui large secondary inverted pointing menu">
        <a class="item" href="/">Home</a>
        <a class="item" href="/contact">Contact</a>
        <a class="item" style="display:none" href="/donate">Donate</a>
        <div class="right menu">
          {{ if eq .User.ID 0 }}
            <a class="ui inverted button item" href="/login">Login</a>
          {{ else }}
            <div class="horizontally fitted item">
              {{ .User.Login }}
              <a class="" href="/logout" title="Logout" style="margin-left: 3px">
                <i class="power icon"></i>
              </a>
            </div>
          {{ end }}
        </div>
      </div>
    </div>

    <div class="ui text container very padded">
      <h1 class="ui inverted header">
        Watchub Mirror
      </h1>
      <h4>Be notified of people who followed/unfollowed you and starred/unstarred your repositories</h4>
    </div>
  </div>
  <div class="ui very padded vertical stripe segment">
    <div class="ui text container">
      {{ template "content" . }}
    </div>
  </div>
  <div class="ui vertical stripe">
    <div class="ui text container center aligned">
      <p>
        <small>
          &copy; Watchub 2016-2019, by <a class="ui" href="https://github.com/caarlos0">@caarlos0</a>, mirror version by <a class="ui" href="https://github.com/intika">@intika</a>
          <br/>
          Code available on <a href="https://github.com/caarlos0/watchub">GitHub</a>
        </small>
      </p>
    </div>
  </div>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-85002396-1', 'auto');
    ga('send', 'pageview');
  </script>
</body>
</html>
{{ end }}
