{{ define "title" }}
    <h4 class="what-is-it" style="font-weight: bold; margin-bottom: unset;">
		All about your Github account, public and private activity, stars, followers and much more
    </h4>
{{ end }}
{{ define "content-naked" }}
{{ end }}
{{ define "content" }}

<div class="ui very padded vertical stripe segment">
<div class="ui text container">

<h3 class="ui header">
  Starhub Github's Profile 
</h3>
<div class="ui very padded segment">
	<p>
		For any github user, under dev, coming soon!
	</p>
</div>

</div>
</div>

{{ end }}
