{{ define "title" }}
    <h4 class="what-is-it" style="font-weight: bold; margin-bottom: unset;">
		All about any GitHub account, public and private activity, stars, followers and much more
    </h4>
{{ end }}
{{ define "content-naked" }}
{{ end }}
{{ define "content" }}

<div class="ui very padded vertical stripe segment">
<div class="ui text container" style=" max-width:800px !important;">

<h3 class="ui header" id="titleBox" style="visibility:hidden; height:0px; padding:0px; margin:0px;">
  Starhub Profiler
</h3>

<link rel="stylesheet" href="static/resources/downloads/third-party/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="static/resources/downloads/css/main.css">

<div class="ui padded segment" id="searchBox" style="visibility:hidden; height:0px; padding:0px; margin:0px;">
	<div class="form form-inline" style="margin-right:100px; margin-left:100px;">
		<p>Profile any github user (direct access with <b>https://starhub.be/username</b>)</p>
		<div class="form-group">
			<input type="text" class="form-control" id="username" placeholder="GitHub username (e.g. intika)" onkeydown = "if (event.keyCode == 13) document.getElementById('get-infos-1').click()">
		</div>
		
		</br>

		<button class="btn btn-primary" id="get-infos-1" onclick="profile();">Profile!</button>
		</br>
		</br>
		
	</div>
</div>

<div id="activityDiv" class="ui padded segment" style="text-align: center; visibility:hidden; height:0px; padding:0px; margin:0px;">

	<div class="ui top attached tabular menu" onclick="tabClickSwitch()" style="height:30px; min-height:0px; margin-top:0px;">
		<a class="item active"  id="tabTitle1" data-tab="first"  style="width:50%;padding:0px;height:30px;"><p style="text-align:center; margin:auto;">
		Private Activity</p></a>
		<a class="item"         id="tabTitle2" data-tab="second" style="width:50%;padding:0px;height:30px;"><p style="text-align:center; margin:auto;">
		Public Activity</p></a>
	</div>
	<div class="ui bottom attached tab segment active"  id="tabDiv1" data-tab="first">

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/2.0.2/octicons.min.css">
		<script src="static/resources/activity/activity-priv-helper.js"></script>
		
		<div class="ui simple selection dropdown" style="width:98%; padding-top:8px; margin-left: auto; margin-right: auto;" onclick="privshowFker();">
		
			<i class="dropdown icon"></i>
			<p  id="privfkingFilterText"
				style="text-align:center; 
					  margin:0px;
					  color:grey;
					  font-size:14px;
					  height:14px;">
				Select an activity type (filter) 
			</p>
			<div class="menu" id="privfkingMenuList" style="visibility:hidden; overflow:scroll; overflow-x:hidden;">
			
				<div class="item" onclick="privfilterList('0');"><p id="privtextFilter0">
					<span class="octicon octicon-broadcast" style="color:grey; margin-right:10px; width:16px"></span>
					Show all</p>
				</div>
		
				<div class="item" onclick="privfilterList('1')"><p id="privtextFilter1">
					<span class="octicon octicon-comment-discussion" style="color:grey; margin-right:10px; width:16px"></span>
					Commit comment</p>
				</div>
		
				<div class="item" onclick="privfilterList('2')"><p id="privtextFilter2">
					<span class="octicon octicon-repo-create" style="color:grey; margin-right:10px; width:16px"></span>
					Create repository</p>
				</div>
		
				<div class="item" onclick="privfilterList('3')"><p id="privtextFilter3">
					<span class="octicon octicon-tag-add" style="color:grey; margin-right:10px; width:16px"></span>
					Add tag</p>
				</div>
		
				<div class="item" onclick="privfilterList('4')"><p id="privtextFilter4">
					<span class="octicon octicon-git-branch-create" style="color:grey; margin-right:10px; width:16px"></span>
					Create branch</p>
				</div>
		
				<div class="item" onclick="privfilterList('5')"><p id="privtextFilter5">
					<span class="octicon octicon-repo-delete" style="color:grey; margin-right:10px; width:16px"></span>
					Delete event</p>
				</div>
		
				<div class="item" onclick="privfilterList('6')"><p id="privtextFilter6">
					<span class="octicon octicon-person-follow" style="color:grey; margin-right:10px; width:16px"></span>
					Follow event</p>
				</div>
		
				<div class="item" onclick="privfilterList('7')"><p id="privtextFilter7">
					<span class="octicon octicon-repo-forked" style="color:grey; margin-right:10px; width:16px"></span>
					Fork repository</p>
				</div>
		
				<div class="item" onclick="privfilterList('8')"><p id="privtextFilter8">
					<span class="octicon octicon-gist" style="color:grey; margin-right:10px; width:16px"></span>
					Gist event</p>
				</div>
				<div class="item" onclick="privfilterList('9')"><p id="privtextFilter9">
					<span class="octicon octicon-repo" style="color:grey; margin-right:10px; width:16px"></span>
					Repository</p>
				</div>
		
				<div class="item" onclick="privfilterList('10')"><p id="privtextFilter10">
					<span class="octicon octicon-issue-opened" style="color:grey; margin-right:10px; width:16px"></span>
					Issue open/close</p>
				</div>
		
				<div class="item" onclick="privfilterList('11')"><p id="privtextFilter11">
					<span class="octicon octicon-comment-discussion" style="color:grey; margin-right:10px; width:16px"></span>
					Issue comment</p>
				</div>
				<div class="item" onclick="privfilterList('12')"><p id="privtextFilter12">
					<span class="octicon octicon-person" style="color:grey; margin-right:10px; width:16px"></span>
					Member event</p>
				</div>
		
				<div class="item" onclick="privfilterList('13')"><p id="privtextFilter13">
					<span class="octicon octicon-globe" style="color:grey; margin-right:10px; width:16px"></span>
					Public event</p>
				</div>
		
				<div class="item" onclick="privfilterList('14')"><p id="privtextFilter14">
					<span class="octicon octicon-git-pull-request" style="color:grey; margin-right:10px; width:16px"></span>
					Pull request</p>
				</div>
		
				<div class="item" onclick="privfilterList('15')"><p id="privtextFilter15">
					<span class="octicon octicon-comment-discussion" style="color:grey; margin-right:10px; width:16px"></span>
					Pull request review comment</p>
				</div>
				
				<div class="item" onclick="privfilterList('16')"><p id="privtextFilter16">
					<span class="octicon octicon-git-commit" style="color:grey; margin-right:10px; width:16px"></span>
					Push event</p>
				</div>
		
				<div class="item" onclick="privfilterList('17')"><p id="privtextFilter17">
					<span class="octicon octicon-tag-add" style="color:grey; margin-right:10px; width:16px"></span>
					Release event</p>
				</div>
		
				<div class="item" onclick="privfilterList('18')"><p id="privtextFilter18">
					<span class="octicon octicon-star" style="color:grey; margin-right:10px; width:16px"></span>
					Stars event</p>
				</div>
				
			</div>
		</div>
		
		</br></br>
		
		<a class="ui primary small button" id="privPrevButton" style="margin:auto; margin-right:1%; width:47.5%;" onclick="loadPreviousPriv()"
			title="Load previous page">
			Previous
		</a>
		<a class="ui primary small button" id="privNextButton" style="margin:auto; margin-left:1%; width:47.5%;" onclick="loadNextPriv()"
			title="Load next page">
			Next
		</a>
		
		<div id="divIframeActPrivLoader" class="ui active centered inline loader" style="height:0px; visibility:hidden;"></div>
		<p id="pIframeContainerActPriv" align="center" style="margin-bottom:0px;">
			</br>
			<iframe id="iframeActPriv" frameborder="0" scrolling="no" width="100%" height="0px" style="display:block; visibility:hidden; margin-bottom:0px;">
			</iframe>
		</p>

	</div>
	<div class="ui bottom attached tab segment" 	    id="tabDiv2" data-tab="second">

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/2.0.2/octicons.min.css">
		<script src="static/resources/activity/activity-pub-helper.js"></script>
		
		<div class="ui simple selection dropdown" style="width:98%; padding-top:8px; margin-left: auto; margin-right: auto;" onclick="pubshowFker();">

			<i class="dropdown icon"></i>
			<p  id="pubfkingFilterText"
				style="text-align:center; 
					  margin:0px;
					  color:grey;
					  font-size:14px;
					  height:14px;">
				Select an activity type (filter) 
			</p>
					
			<div class="menu" id="pubfkingMenuList" style="visibility:hidden; overflow:scroll; overflow-x:hidden;">
				
				<div class="item" onclick="pubfilterList('0');"><p id="pubtextFilter0">
					<span class="octicon octicon-broadcast" style="color:grey; margin-right:10px; width:16px"></span>
					Show all</p>
				</div>
				<div class="item" onclick="pubfilterList('1')"><p id="pubtextFilter1">
					<span class="octicon octicon-comment-discussion" style="color:grey; margin-right:10px; width:16px"></span>
					Commit comment</p>
				</div>
		
				<div class="item" onclick="pubfilterList('2')"><p id="pubtextFilter2">
					<span class="octicon octicon-repo-create" style="color:grey; margin-right:10px; width:16px"></span>
					Create repository</p>
				</div>
		
				<div class="item" onclick="pubfilterList('3')"><p id="pubtextFilter3">
					<span class="octicon octicon-tag-add" style="color:grey; margin-right:10px; width:16px"></span>
					Add tag</p>
				</div>

				<div class="item" onclick="pubfilterList('4')"><p id="pubtextFilter4">
					<span class="octicon octicon-git-branch-create" style="color:grey; margin-right:10px; width:16px"></span>
					Create branch</p>
				</div>
		
				<div class="item" onclick="pubfilterList('5')"><p id="pubtextFilter5">
					<span class="octicon octicon-repo-delete" style="color:grey; margin-right:10px; width:16px"></span>
					Delete event</p>
				</div>
		
				<div class="item" onclick="pubfilterList('6')"><p id="pubtextFilter6">
					<span class="octicon octicon-person-follow" style="color:grey; margin-right:10px; width:16px"></span>
					Follow event</p>
				</div>
		
				<div class="item" onclick="pubfilterList('7')"><p id="pubtextFilter7">
					<span class="octicon octicon-repo-forked" style="color:grey; margin-right:10px; width:16px"></span>
					Fork repository</p>
				</div>
				
				<div class="item" onclick="pubfilterList('8')"><p id="pubtextFilter8">
					<span class="octicon octicon-gist" style="color:grey; margin-right:10px; width:16px"></span>
					Gist event</p>
				</div>
				<div class="item" onclick="pubfilterList('9')"><p id="pubtextFilter9">
					<span class="octicon octicon-repo" style="color:grey; margin-right:10px; width:16px"></span>
					Repository</p>
				</div>
		
				<div class="item" onclick="pubfilterList('10')"><p id="pubtextFilter10">
					<span class="octicon octicon-issue-opened" style="color:grey; margin-right:10px; width:16px"></span>
					Issue open/close</p>
				</div>
		
				<div class="item" onclick="pubfilterList('11')"><p id="pubtextFilter11">
					<span class="octicon octicon-comment-discussion" style="color:grey; margin-right:10px; width:16px"></span>
					Issue comment</p>
				</div>

				<div class="item" onclick="pubfilterList('12')"><p id="pubtextFilter12">
					<span class="octicon octicon-person" style="color:grey; margin-right:10px; width:16px"></span>
					Member event</p>
				</div>
				<div class="item" onclick="pubfilterList('13')"><p id="pubtextFilter13">
					<span class="octicon octicon-globe" style="color:grey; margin-right:10px; width:16px"></span>
					Public event</p>
				</div>
			
				<div class="item" onclick="pubfilterList('14')"><p id="pubtextFilter14">
					<span class="octicon octicon-git-pull-request" style="color:grey; margin-right:10px; width:16px"></span>
					Pull request</p>
				</div>
		
				<div class="item" onclick="pubfilterList('15')"><p id="pubtextFilter15">
					<span class="octicon octicon-comment-discussion" style="color:grey; margin-right:10px; width:16px"></span>
					Pull request review comment</p>
				</div>
				
				<div class="item" onclick="pubfilterList('16')"><p id="pubtextFilter16">
					<span class="octicon octicon-git-commit" style="color:grey; margin-right:10px; width:16px"></span>
					Push event</p>
				</div>
		
				<div class="item" onclick="pubfilterList('17')"><p id="pubtextFilter17">
					<span class="octicon octicon-tag-add" style="color:grey; margin-right:10px; width:16px"></span>
					Release event</p>
				</div>
		
				<div class="item" onclick="pubfilterList('18')"><p id="pubtextFilter18">
					<span class="octicon octicon-star" style="color:grey; margin-right:10px; width:16px"></span>
					Stars event</p>
				</div>
				
			</div>
		</div>
		</br></br>
		
		<a class="ui primary small button" id="pubPrevButton" style="margin:auto; margin-right:1%; width:47.5%;" onclick="loadPreviousPub()"
			title="Load previous page">
			Previous
		</a>
		<a class="ui primary small button" id="pubNextButton" style="margin:auto; margin-left:1%; width:47.5%;" onclick="loadNextPub()"
			title="Load next page">
			Next
		</a>
		
		<div id="divIframeActPubLoader" class="ui active centered inline loader" style="height:0px; visibility:hidden;"></div>
		<p id="pIframeContainerActPub" align="center" style="margin-bottom:0px;">
			</br>
			<iframe id="iframeActPub" frameborder="0" scrolling="no" width="100%" height="0px" style="display:block; visibility:hidden; margin-bottom:0px;">
			</iframe>
		</p>
		
	</div>
</div>

<div id="div3" class="ui very padded segment" style="text-align: center; visibility:hidden; height:0px; padding:0px; margin:0px;">
	<p style="text-align:center; font-size:17px;"><b>Global Statistics</b></p>
	</br>

     <script type="text/javascript" src="static/resources/github-stats/github-stats.js"></script>
     
     <a id="grapHref" target="_blank" href="https://github.com/">
	     <div class="ui center" id="github-contributions" style="display: inline-block">
	     	<div id="divGitStatLoader" class="ui active centered inline loader" style="height:'0px'; visibility:hidden;"></div>
	     </div>
     </a>
     
     </br></br></br>
     
     <div class="ui center" id="github-language-distribution"></div>
</div>

<div id="div4" class="ui very padded segment" style="visibility:hidden; height:0px; padding:0px; margin:0px;">
	<p style="text-align:center; font-size:17px;"><b>Main Organization Statistics</b></p>
	</br>
	
	<script type="text/javascript" id="widgetScript"></script>

	<div id="gitWid">
	</div>
	
	</br>
	<p style="text-align:center; font-size:15px; margin:0px;">Activity frequency and used languages</p>
	<p style="text-align:center; font-size:12px; margin:0px;">On main default organization</p>

	<iframe
		id="iframeProfile"
		frameborder="0" 
		scrolling="no" 
		width="100%" 
		height="0px" 
		style="margin-right:auto; margin-left:auto;"
	></iframe>
</div>

<script src="static/resources/images/ads.js"></script>
<div id="div5"class="ui very padded segment">
	<script>
      if( window.canRunAds === undefined ){
        // adblocker detected, show fallback
        document.write('<div align="center" style="background-image: url(static/resources/images/image.png);');
        document.write('background-repeat:no-repeat; background-position:center;height:60px;"></div>');}
    </script>
	<div align="center">
		<script type="text/javascript">
	    google_ad_client = "ca-pub-4643883406855060";
	    google_ad_slot = "6799285178";
	    google_ad_width = 468;
	    google_ad_height = 60;
		</script>
		<!-- Starhub main -->
		<script type="text/javascript"
		src="//pagead2.googlesyndication.com/pagead/show_ads.js">
		</script>
	</div>
</div>

<div id="div6" class="ui padded segment" style="visibility:hidden; height:0px; padding:0px; margin:0px;">
		<p style="text-align:center; font-size:17px;"><b>GitHub Profile Center</b></p>

		<a class="ui primary small button" target="_blank" title="Ghuser.io (open in new tab)" style="margin:1%; width:31%;" id="ghuserLink" href="https://ghuser.io/" >
			<img src="static/logo/3rd/ghu.png" height="16" width="16" style="vertical-align:middle; margin-right:5px;">
			Ghuser profile
		</a>
		
		<a class="ui primary small button" target="_blank" title="Starhub tools for github (open in new tab)" style="margin:1%; width:31%;" href="/tools" >
			<img src="static/logo/logo-16.png" height="16" width="16" style="vertical-align:middle; margin-right:5px;">
			Starhub tools
		</a>
		<a class="ui primary small button" target="_blank" title="Starhub's applications listing (open in new tab)" style="margin:1%; width:31%;" href="/apps" >
			<img height="16" width="0" style="vertical-align:middle; margin-right:0px;">
			<i class="star black icon" height="16" width="16" style="margin-right:5px"></i>
			Apps listing
		</a>
		<a class="ui primary small button" title="Starhub's profiler" style="margin:1%; width:98%;" href="/profile" >
			<img height="16" width="0" style="vertical-align:middle; margin-right:0px;">
			<i class="search black icon" height="16" width="16" style="margin-right:5px"></i>
			Search an other user
		</a>
		
</div>

<link rel="stylesheet" href="static/resources/notifications/notifications.css" type="text/css">
<script src="static/resources/notifications/notifications.js" type="text/javascript"></script>
<script src="static/resources/profiler/profiler.js" type="text/javascript"></script>

</div>
</div>
{{ end }}
