{{ define "content-naked" }}
{{ end }}
{{ define "content" }}
<h2 class="ui header">
  We are checking your account for changes!
</h2>
<p>
  <b>This operation takes 3-10 min to be completed.</b></br></br>
  This will trigger the mail notification, <b>you'll only receive an email if there were changes</b> in your account since the last email.</br></br>
  Refresh the home page after the needed delay to see the changes, or wait for the notification email.</br></br>
  This function is triggered automatically once a day for all subscribers</br></br>
  <b>Please don't abuse this function</b>
</p>
<p>
  <a class="ui blue basic small button" href="/">
    Back
  </a>
</p>
{{ end }}
