{{ define "title" }}
     <h4 class="what-is-it" style="font-weight: bold; margin-bottom: 0px;">
     Stars Statistics</br>
     GitHub graphical star history and stats</h4>
{{ end }}
{{ define "content" }}
{{ end }}
{{ define "content-naked" }}

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://unpkg.com/nprogress@0.2.0/nprogress.js"></script>
    <script src="static/resources/startrack/StarTrack.js"></script>

    <script>
		//$("h4.what-is-it").text("GitHub star history and stats");
    </script>

    <link rel="stylesheet" href="https://unpkg.com/nprogress@0.2.0/nprogress.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="static/resources/startrack/style.css" />

    <div id="st-header" class="st-header" style="text-align: center;">
        <div id="login-button" class="login-btn" style="display: inline-block;">
        	<a id="github-auth" href="javascript:openGithubAuthDialog();">GitHub Authentication</a>
        </div>
        <div id="logout-btn" class="login-btn" style="display: inline-block; margin: 0 auto;"> 
			<a href="javascript:removeGithubAuth();">Log Out</a>
		</div>
    </div>

    <div id="content">

      <div class="startrack-frame repo-details" style="text-align: center;">
        <table style="display: inline-block; margin: 0 auto;">
          <tbody>
            <tr valign="canter">
              <td>
                <p>Repository name:</p>
              </td>
              <td style="padding-left: 5px;">
                <input id="user" placeholder="GitHub User..." type="text" title="e.g: seladb" style="height: 40px;"/>
              </td>
              <td>
                <p>/</p>
              </td>
              <td>
                <input id="repo" placeholder="GitHub Repo..." type="text" title="e.g: PcapPlusPlus" style="height: 40px;"/>
              </td>
              <td style="padding-left: 5px;">
                <select disabled id="add_or_replace" style="height: 40px;">
                  <option value="replace" selected="selected">Replace current plot</option>
                  <option value="add">Add another plot</option>
                </select>
              </td>
              <td style="padding-left: 20px;">
                <input type="button" value="go" id="gobtn" class="startrack-btn gobtn" onclick="javascript:go();" style="height: 40px;">
                <div class="loader" id="loading" style="display:none"></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div id="url-container" class="startrack-frame url-container" style="width:80%; text-align: center;">
        <table style="display: inline-block;margin: 0 auto;">
          <tr>
            <td>
                <a>Direct Link: </a>
         	</td>
           	<td style="padding-left: 5px;">
              <input id="url-box" class="url-box" readonly="readonly" type="text" onclick="this.select();">
            </td>
          </tr>
        </table>
      </div>

      <a href="#" class="scrollToBottom" title="Scroll to bottom">
        <img src="static/resources/startrack/down-circular-64.png" />
      </a>

      <div id="plot-container" class="startrack-frame plot" style="width:80%; padding: 0px;"></div>
		
	  <div style="text-align: center;">
	    <div id="divIframeLoader" class="ui active centered inline loader" style="height:0px; visibility:hidden;"></div>
	  	<iframe id="stars-adv" frameborder="0" style="width:80%; height:0px; padding: 0px; overflow:hidden;" scrolling="no"></iframe>
      </div>
      
      <div align="center" id="divPub">
	      <script type="text/javascript">
	              google_ad_client = "ca-pub-4643883406855060";
	              google_ad_slot = "6799285178";
	              google_ad_width = 468;
	              google_ad_height = 60;
	      </script>
	      <!-- Starhub main -->
	      <script id="gads" type="text/javascript"
	              src="//pagead2.googlesyndication.com/pagead/show_ads.js">
	      </script>
	  </div>
	  <script>$('#divPub').hide();</script>

      <div id="stats-container" class="stats-table"></div>
            
    </div>

    <div id="github_auth_dialog" title="GitHub Authentication" style="display:none">
      <p>GitHub API <a href="https://developer.github.com/v3/#rate-limiting" target="_blank">rate limiter</a> makes it impossible to collect stargazer data on repos with more than 3000 stars without GitHub authentication.</p>
      <p>If you'd like to view stargazer data for this repo, please provide your GitHub auth details.</p>
      <p>Please note these credentials aren't sent to any server. This application is based on pure javascript so the credentials are only used to send authenticated requests to GitHub API.</p>
      <input type="radio" name="auth_group" value="userandpass" checked="true">Either provide GitHub username and password:</input>
      <div id="userandpass_input" class="boxed">
        <div>
          <div><label>GitHub username</label></div>
          <div><input type="text" id="github_username" size="35" class="text ui-widget-content ui-corner-all"></div>
        </div>
        <div>
          <div><label>GitHub password</label></div>
          <div><input type="password" id="github_password" size="35" class="text ui-widget-content ui-corner-all"></div>
        </div>
      </div>
      <p></p>
      <input type="radio" name="auth_group" value="token">Or provide GitHub access token:</input>
      <div id="token_input" class="boxed">
        <div><label>Access token</label></div>
        <div><input type="password" id="github_token" size="35" class="text ui-widget-content ui-corner-all"></div>
      </div>
      </br>
      <div>
        <p>
          <input type="checkbox" id="save_in_local_storage_chkbox">Save authentication details in local storage<br>
        </p>
      </div>
    </div>

{{ end }}
