{{ define "title" }}
    <h4 class="what-is-it" style="font-weight: bold; margin-bottom: unset;">
        Github Tools</br>
        Get email, user-id and username informations, plus folder downloader and site preview
    </h4>
{{ end }}
{{ define "content-naked" }}
{{ end }}
{{ define "content" }}

<script type="text/javascript" src="static/resources/downloads/third-party/jquery/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="static/resources/downloads/third-party/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="static/resources/downloads/third-party/typahead/bootstrap3-typeahead.min.js"></script>
<script type="text/javascript" src="static/resources/downloads/js/main.js"></script>

<script type="text/javascript" src="static/resources/html-preview/htmlpreview.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Get the latest release stats like download counts, release dates, author on any Github project">
<meta name="keywords" content="Github, release, download, count">

<link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="static/resources/downloads/third-party/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="static/resources/downloads/css/main.css">

<script>
 	//$("h4.what-is-it").text("Get email, user-id, username informations for any Github user");
</script>

<script type="text/javascript" charset="utf-8">
	function getUserName () {
		var idNew = $("#username3").val()
        getUserNameFor(idNew, function(funcID, usernameRes) {
          document.getElementById("result-content3").style.visibility= "visible"
          $('#results3').val(usernameRes)
        })
	}	
	function getUserID () {
		var name = $("#username2").val()
        getIdFor(name, function(username, id) {
          document.getElementById("result-content2").style.visibility= "visible"
          $('#results2').val(id)
        })
	}	
    function getIdFor (username, callback) {
      $.getJSON('https://api.github.com/users/' + username + "?callback=?", {},
       function(json){
         var id = json["data"]["id"]
         if (id) {callback(username, id)}
         return false
      });
    }
    function getUserNameFor (funcID, callback2) {
      $.getJSON('https://api.github.com/user/' + funcID + "?callback=?", {},
       function(json){
         var usernameRes = json["data"]["login"]
         if (usernameRes) {callback2(funcID, usernameRes)}
         return false
      });
    }
	function getDownloadLink () {
		var baseUrl = $("#linkurl6").val();
		if (baseUrl != '') {
			document.getElementById("result-content6").style.visibility= "visible";
			$('#results6').val('https://github-web-apps.github.io/DownGit/#/home?url=' + baseUrl)
		}
	}
	function goToDownloadLink () {
		var baseUrl = $("#linkurl6").val();
		if (baseUrl != '') {
			document.getElementById("result-content6").style.visibility= "visible";
			$('#results6').val('https://github-web-apps.github.io/DownGit/#/home?url=' + baseUrl)
			//window.open('https://github-web-apps.github.io/DownGit/#/home?url=' + baseUrl, '_blank');
			document.getElementById('iframeDownloader').src = 'https://github-web-apps.github.io/DownGit/#/home?url=' + baseUrl;
		}		
	}
    function showMail () {
    	document.getElementById('result-content').style.visibility= 'visible';
    }
</script>

<div class="ui very padded vertical stripe segment">
<div class="ui text container">

<h3 class="ui header" id="mail-finder">
	Github user mail finder 
</h3>
<div class="ui very padded segment">
	<p>Search and extract the email address from commits</p>
		<div class="form form-inline">
			<div class="form-group">
				<input type="text" class="form-control" id="username" placeholder="Github username or repository link" onkeydown = "if (event.keyCode == 13) document.getElementById('get-infos-1').click()">
			</div>

			</br></br>

			<button class="btn btn-primary" id="get-infos-1" onclick="showMail();fetch(`https://api.github.com/users/${username.value.replace(/^.*com[/]([^/]*).*$/,'$1')}/events/public`).then(e=> e.json()).then(e => [...new Set([].concat.apply([],e.filter(x => x.type==='PushEvent').map(x => x.payload.commits.map(c => c.author.email)))).values()]).then(x => results.value = x);">Get the user email!</button>

			<div class="form-group" id="result-content" style="visibility: hidden;">
				<input type="text" class="form-control" id="results" placeholder="Search result">
			</div>

		</div>
</div>




<h3 class="ui header" id="folder-downloader">
	Github folder downloader
</h3>
<div class="ui very padded segment">
	<p>Direct download any folder from a git repo in a compressed zip file
	</p>
	
	<div class="form form-inline">
	
		<div class="form-group">
			<input type="text" class="form-control" id="linkurl6" placeholder="https://github.com/intika/Librefox/tree/master/librefox" 
			onkeydown = "if (event.keyCode == 13) document.getElementById('get-infos-5').click()">
		</div>
		
		</br></br>

		<button class="btn btn-primary" id="get-infos-5" onclick="getDownloadLink();">Generate link!</button>
		<button class="btn btn-primary" id="get-infos-6" onclick="goToDownloadLink();">Download zip!</button>

				
		<div class="form-group" id="result-content6" style="visibility: hidden;">
			<input type="text" class="form-control" id="results6" placeholder="Download url">
		</div>
	
	</div>
</div>




<h3 class="ui header" id="site-preview">
  	Github site preview
</h3>
<div class="ui very padded segment">
	<p>Preview HTML file from any git repo (or prepend to the URL: <code>https://starhub.be/tools?</code> like this
	<a href="https://starhub.be/tools?https://github.com/twbs/bootstrap/blob/gh-pages/2.3.2/index.html">example</a>)
	</p>
	
		<div class="form form-inline">

			<form id="previewform4" onsubmit="if (this.linkurl4.value != '') {window.open('/tools?' + this.linkurl4.value, '_blank');} return false">
			
				<div class="form-group">
					<input type="text" class="form-control" id="linkurl4" placeholder="https://github.com/user/repo/blob/master/index.html" 
					onkeydown = "if (event.keyCode == 13) document.getElementById('previewform4').submit()">
				</div>
				
				</br></br>
	
				<button class="btn btn-primary" id="get-infos-4" type="submit">Preview the page!</button>

				</br></br></br>
				
			</form>

		</div>
</div>




<h3 class="ui header" id="username-converter">
  	Github username converter
</h3>
<div class="ui very padded segment">
	<p>Search and extract the user-id from the username</p>
		<div class="form form-inline">
			<div class="form-group">
				<input type="text" class="form-control" id="username2" placeholder="Github username" onkeydown = "if (event.keyCode == 13) document.getElementById('get-infos-2').click()">
			</div>

			</br></br>

			<button class="btn btn-primary" id="get-infos-2" onclick="getUserID();">Get the user id!</button>

			<div class="form-group" id="result-content2" style="visibility: hidden;">
				<input type="text" class="form-control" id="results2" placeholder="Search result">
			</div>

		</div>
</div>




<h3 class="ui header" id="userid-converter">
  	Github user-id converter
</h3>
<div class="ui very padded segment">
	<p>Search and extract the username from the user-id</p>
		<div class="form form-inline">
			<div class="form-group">
				<input type="text" class="form-control" id="username3" placeholder="Github user id" onkeydown = "if (event.keyCode == 13) document.getElementById('get-infos-3').click()">
			</div>

			</br></br>

			<button class="btn btn-primary" id="get-infos-3" onclick="getUserName()">Get the username!</button>

			<div class="form-group" id="result-content3" style="visibility: hidden;">
				<input type="text" class="form-control" id="results3" placeholder="Search result">
			</div>

		</div>
</div>

<div class="ui very padded segment">
	<script src="static/resources/images/ads.js"></script>
	<script>
		if( window.canRunAds === undefined ){
		// adblocker detected, show fallback
		document.write('<div align="center" style="background-image: url(static/resources/images/image.png);');
		document.write('background-repeat:no-repeat; background-position:center;height:60px;"></div>');}
	</script>
	<div align="center">
		<script type="text/javascript">
			google_ad_client = "ca-pub-4643883406855060";
			google_ad_slot = "6799285178";
			google_ad_width = 468;
			google_ad_height = 60;
		</script>
		<!-- Starhub main -->
		<script type="text/javascript"
			src="//pagead2.googlesyndication.com/pagead/show_ads.js">
		</script>
	</div>
</div>

<iframe id="iframeDownloader" src="" style="height:0px; width:0px; visibility:hidden;"></iframe>

</div>
</div>

{{ end }}
